<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loren.minesample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_red_super_man"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service android:name=".WindowsService" />
        <service android:name=".ShowActivityService" />
        <service
            android:name=".VerySixService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".LauncherActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <meta-data android:name="android.app.shortcuts" -->
            <!-- android:resource="@xml/shortcuts"/> -->
        </activity>
        <!-- <activity android:name=".MineCollectionActivity" /> -->
        <activity android:name=".CustomViewActivity" />
        <activity android:name=".FlagActivity" />
        <activity android:name=".MoveViewActivity" />
        <activity android:name=".CopyWxActivity" />
        <activity android:name=".CopyWxPullActivity" />
        <activity
            android:name=".TakePhotoActivity"
            android:theme="@style/ActivityTransparent" />
        <activity
            android:name=".RemindActivity"
            android:theme="@style/ActivityTransparent" />
        <activity android:name=".ShortCutsActivity" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OpenScreenActivity"
            android:theme="@style/ActivityTransparent" />
        <activity android:name=".VectorActivity" />
        <activity
            android:name=".AmazingActivity"
            android:theme="@style/ActivityTransparent" />
        <activity android:name=".BezierActivity" />
        <activity android:name=".TranslationActivity" />
        <activity android:name=".ScreenShotActivity" />
        <activity android:name=".ObjectBoxActivity" />
        <activity android:name=".InjectAnimActivity" />
        <activity android:name=".AppManagerActivity" />
        <activity android:name=".ClipActivity" />
        <activity android:name=".RemoteViewActivity" />
        <activity android:name="socket.SocketClientActivity" />
        <activity android:name="socket.SocketServerActivity" />

        <receiver android:name=".DemoAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/demo_app_widget_info" />
        </receiver>
    </application>

</manifest>